#header,#footer
{
    background-color:#1F2937;
    padding-bottom: 48px;
}
#links-section
{
    display: flex;
    justify-content: space-around;
}
#header-logo
{
    height: 25%;
    width: 25%;
}
#header-links
{
    align-self: center;
}
#header-links li
{
    display: inline;
}
#header-links li a
{
color: rgb(112, 112, 112);
text-decoration: none;
}
#SignUp-section
{
    display: flex;
    justify-content: space-around;
}
#SignUp-section #Left
{
    width: 50%;
}
#SignUp-section button
{
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    
}
#SignUp-section h1
{
    font-size: 48px;
    font-weight: 900;
    color: #F9F8FA;
}
#SignUp-section p
{
    font-size: 24px;
    color: #E5E7EB;
}
#content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content h1
{
font-size: 36px;
font-weight: 900;
color: #1F2937;
}
#content ul
{
    display: flex;
}
#content li
{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
#content img
{
    border: 3px solid blue;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}
#quote
{
    background-color: #E5E7EB;
    margin-bottom: 56px;
}
#quote p
{
font-size: 36px;
font-style: italic;
color: #1F2937;
}
#quote h2 
{
    text-align: end;
}
#footer-SignUp
{
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 56px;
}
#footer-SignUp h1, p
{
    color: white;
}
#footer-SignUp button
{
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    align-self: center;
}
#footer
{
color: white;
text-align: center;
padding: 70px 0;
}